#timer {
  float: right;
  margin-right: 40px;
  color: black;
  font-size: x-large;
  font-weight: 550;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 45%;
    font-size: 1.8rem;
    background-color: rgb(88, 46, 148);
    border-radius: 12px;
  }
  
  .choice-container:hover {
    cursor: pointer;
    background-color: rgb(141, 73, 236);
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(88, 46, 148);
    border-radius: 12px;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  

  #rightWrong {
    color: black;
    font-size: 22px;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  
  
  
  