#timer {
  float: right;
  margin-right: 40px;
  /* color: black; */
  color: #d1cfcc;
  font-size: x-large;
  font-weight: 550;
}


.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 45%;
    font-size: 1.8rem;
    background-color: rgb(88, 46, 148);
    border-radius: 12px;
    padding-left: 20px;
  }
  
  .choice-container:hover {
    cursor: pointer;
    background-color: rgb(141, 73, 236);
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(88, 46, 148);
    border-radius: 12px;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  

  #rightWrong {
    color: rgb(124, 124, 124);
    font-size: 22px;
  }

  .center {
    text-align: center;
  }

  .container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  #container-score {
    font-size: x-large;
  }

  #btn-score {
    font-size: 1.8rem;
    padding: 1rem 0;
    margin-top: 20px;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 12px;
    color: #ffffff;
    background-color: rgb(88, 46, 148);
  }

  #btn-score:hover {
    cursor: pointer;
    background-color: rgb(141, 73, 236);
  }
  
  /* HUD */

.hide {
  display: none;
}
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  
  
  
  